@model SuccessiveCart.Models.Dto.SignUpViewModel

@{
    var CategoryList = ViewBag.CategoryList as List<SuccessiveCart.Models.Domain.Cateogry>;
    ViewData["Title"] = "Add User";
}



<form method="post" action="AddUser" class="mt-5">
    <div class="mb-3">
        <label for="Name" class="form-label">User Name</label>
        <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter user name" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="userPhone" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" id="userPhone" name="UserPhoneNo" placeholder="Enter phone number" asp-for="UserPhoneNo">
        <span asp-validation-for="UserPhoneNo" class="text-danger"></span>
    </div>
    


    <div class="mb-3">
        <label for="userEmail" class="form-label">User Email</label>
        <input type="email" class="form-control" id="userEmail" name="UserEmail" placeholder="Enter email" asp-for="UserEmail" >
        <span asp-validation-for="UserEmail" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="userPassword" class="form-label">User Password</label>
        <input type="password" class="form-control" id="userPassword" name="UserPassword" placeholder="Enter password" asp-for="UserPassword">
        <span asp-validation-for="UserPassword" class="text-danger"></span>

    </div>

    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" placeholder="Confirm password" asp-for="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    

   

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
