@model SuccessiveCart.Models.Domain.Users
@{
}
<h1> Edit User</h1>
<form method="post" action="ViewUser" >
    
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">

    </div>
    <div class="mb-3">
        <label for="" class="form-label">Phone Number</label>
        <input type="number" class="form-control" asp-for="UserPhoneNo">

    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="UserEmail">

    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="text" class="form-control" asp-for="UserPassword">

    </div>
    <div class="mb-3">
        <label for="" class="form-label">Role</label>
        <input type="text" class="form-control" asp-for="UserRole" readonly>

    </div>


    <button type="submit" class="btn btn-primary" asp-action="ViewUser" asp-controller="Admin">Submit</button>

    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Admin">Delete</button>
</form>