@model SuccessiveCart.Models.Domain.Users
@{
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<h1> Edit User</h1>
<form method="post" action="ViewUser" >
    <div class="mb-3">
        <label for="" class="form-label">Role</label>
        <input type="text" class="form-control" asp-for="UserRole" readonly>

    </div>
    
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>


    </div>
    <div class="mb-3">
        <label for="" class="form-label">Phone Number</label>
        <input type="number" class="form-control" asp-for="UserPhoneNo">
        <span asp-validation-for="UserPhoneNo" class="text-danger"></span>


    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="UserEmail">

    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="text" class="form-control" asp-for="UserPassword">

    </div>
   
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="true" id="ActiveCheckbox" name="IsActive" asp-for="isActive">
        <label class="form-check-label" for="ActiveCheckbox">
            Active
        </label>
    </div>


    <button type="submit" class="btn btn-primary" asp-action="ViewUser" asp-controller="Admin">Submit</button>
    
   
    <input type="hidden" class="form-control" asp-for="Id" readonly>

     <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Admin" >Delete</button>
    <span asp-validation-summary="All" class="text-danger"></span>

 </form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



  